.label-input-image {
  display: block;
  text-align: center;
  width: 200;
  height: 40px;
  border: 1px solid skyblue;
  border-radius: 10px;
  //   padding-right: 50px;
  //   padding-left: 50px;
  margin: 10px auto;
  line-height: 18px;
  color: skyblue;
  font-weight: 24px;
  font-size: 24px;
  &:hover {
    color: bule;
  }
  &:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
  input {
    height: 0;
    width: 0;
    opacity: 0;
  }
}
