.post {
  background-color: white;
  max-width: 480px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.post-image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post-text {
  font-weight: normal;
  padding: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post-avatar {
  margin-right: 20px;
}
